<template id="room-list">
  <v-container>
    <v-card>
      <v-card-title>
        空き会議室一覧
      </v-card-title>
      <v-container>
      <v-simple-table
        dense
        fixed-header
        class = "data"
      >
        <thead>
          <tr>
            <th>部屋</th>
            <template v-for="time of times">
              <th colspan="2" style="text-align: center">{{time}}</th>
            </template>
          </tr>
        </thead>
        <tbody>

          <template
            v-for="(room,i) of validRooms"
          >
            <tr>
              <td class="room">{{room.name}}{{room.caledarId}}</td>
              <td class="cell"></td>
              <template v-for="(period,j) in periods">
                <template v-if="roomsStatus.length===validRooms.length">
                <room-list-cell
                  v-bind:key="period"
                  v-bind:response="roomsStatus[i].response"
                  v-bind:cells="roomsStatus[i].cells[j]"
                  @on-click="onClick(roomsStatus[i],period.from)"
                  >
                </room-list-cell>
                </template>
                <template v-else>
                  <td class="cell"></td>
                </template>
              </template>
              <td class="cell"></td>
            </tr>
          </template>

        </tbody>
      </v-simple-table>
      <v-dialog
        v-model="createModal"
        max-width="600px"
      >
      <v-form>
        <v-container>

        <v-card>
          <v-text-field
            label="部屋名"
          ></v-text-field>
          <v-row>
          <v-col cols="12" md="4">
            <v-text-field
              label="開始"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field
              label="終了"
            ></v-text-field>
          </v-col>
          </v-row>
          <v-text-field
            label="予定名"
          ></v-text-field>
        </v-card>


      </v-container>
    </v-form>
    </v-dialog>
  </v-container>
</template>

<script>
const RoomListCell = {
  template: `<td class="cell" :class="status" @click="onClick">{{text}}</td>`,
  props: {
    calendarId: String,
    name: String,
    startTime: Date,
    response: String,
    cells: Object,
  },
  methods: {
    onClick(){
      console.log('emitoncell')
      this.$emit('on-click',{
        calendarId: this.calendarId,
        startTime: this.startTime,
      })
    },
  },
  computed: {
    status(){
      switch(this.response){
        case 'has events': {
          if(this.cells.accepted.length > 0 ){
            return 'checked'
          } else if (this.cells.declined.length > 0) {
            return 'dashed'
          } else if (this.cells.busy.length > 0) {
            return 'occupied'
          }
        }
        case 'has no events': {
          return 'available'
        }
        case 'access denied': {
          return 'dashed'
        }
      }
    },
    text(){
      switch(this.response){
        case 'has events': {
          if(this.cells.accepted.length > 0 ){
            return '✔︎'
          } else if (this.cells.declined.length > 0) {
            return '✖︎'
          } else if (this.cells.busy.length > 0) {
            return '-'
          } else {
            return '○'
          }
        }
        case 'has no events': {
          return '○'
        }
        case 'access denied': {
          return '-'
        }
        default: {
          return this.response
        }
      }
    }
  },
}

const RoomList = {
  template: '#room-list',
  components: {
    RoomListCell: RoomListCell,
  },
  data(){
    return {
      times: [9,10,11,12,13,14,15,16,17,18,19],
      createModal: false,
    }
  },
  methods: {
    status(cell){
      if(cell.accepted.length > 0 ){
        return 'checked'
      } else if (cell.declined.length > 0) {
        return 'dashed'
      } else if (cell.busy.length > 0) {
        return 'occupied'
      }
    },
    statusText(cell){
      if(cell.accepted.length > 0 ){
        return '✔︎'
      } else if (cell.declined.length > 0) {
        return '✖︎'
      } else if (cell.busy.length > 0) {
        return '-'
      } else {
        return '○'
      }
    },
    onClick(value){
      this.createModal = true
      console.log('clicked:',value)
    },
  },
  computed: {
    ...Vuex.mapGetters([
      'validRooms',
      'roomsStatus',
      'periods',
    ]),
    tableRoomsStatus(){
      return this.roomsStatus.map(roomStatus=>{
        switch(roomStatus.response){
          case 'has events': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
          case 'has no events': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
          case 'access denied': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
        }
      })
    },
    testArray(){
      return [
        {
          name: 'a',
        },
        {
          name: 'b',
        },
      ]
    },
    isBusy(){
      const room = this.$store.state.roomsEvents.find()
      room.items.filter(item=>
        !item.attendees || item.attendees.find(attendee=>attendee.email===calendarId).responseStatus !== "declined"
      )
      //と、item.organizer.email が自分のもの
    },
  }
}
</script>

<style>
.data th {
  padding : 0 0;
  text-align : center;
}

.data td.room {
  min-width: 5rem;
  text-align : left;
}

.data td {
  padding : 0 0;
  text-align : center;
}

.checked {
  background-color: #eeffff;
  color: #3884ff;
}

.occupied {
  background-color: lightgray;
  color: dimgray;
}

.dashed {
  background-color: #ffdada;
  color: red;
}

.data td.cell {
  min-width: 2rem;
  max-width: 2rem;
}

.data td.cell:nth-child(odd){
  border-left: 1px #dfdfdf solid;
  border-right: 1px #efefef dashed;
}

.data td.cell:nth-child(3) {
  border-left: 1px #222222 solid;
}

.data td.cell.data:nth-child(23) {
  border-left: 1px #222222 solid;
  border-right: 0px;
}
</style>
