<template id="room-list">
  <v-container>
    <v-card>
      <v-card-title>
        タイトル
      </v-card-title>
      <v-simple-table
       fixed-header
       dense
      >
        <thead>
          <tr>
            <th>部屋</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <template
            v-for="roomStatus in roomsStatus"
          >
            <tr>
              <td>{{roomStatus.name}}</td>
              <template v-if="roomStatus.response==='has events'">
                <template v-for="cell in roomStatus.cells">
                  <template v-if="cell.accepted.length>0">
                    <td @click="onClick({calendarId: roomStatus.calendarId})"> a </td>
                  </template>
                  <template v-else-if="cell.declined.length>0">
                    <td @click="onClick"> d </td>
                  </template>
                  <template v-else-if="cell.busy.length>0">
                    <td @click="onClick"> b </td>
                  </template>
                  <template v-else>
                    <td @click="onClick"> f </td>
                  </template>
                </template>
              </template>
              <template v-else-if="roomStatus.response==='has no events'">
                <template v-for="period in periods">
                  <td @click="onClick"> f </td>
                </template>
              </template>
              <template v-else-if="roomStatus.response==='access denied'">
                <template v-for="period in periods">
                  <td @click="onClick"> d </td>
                </template>
              </template>
            </tr>
          </template>

        </tbody>
      </v-simple-table>
    </v-card>
  </v-container>
</template>

<script>
const RoomList = {
  template: '#room-list',
  data(){
    return {
      times: [9,10,11,12,13,14,15,16,17,18,19,20],
    }
  },
  methods: {
    onClick(value){
      console.log('clicked:',value)
    },
  },
  computed: {
    ...Vuex.mapGetters([
      'roomsStatus',
      'periods',
    ]),
    tableRoomsStatus(){
      return this.roomsStatus.map(roomStatus=>{
        switch(roomStatus.response){
          case 'has events': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
          case 'has no events': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
          case 'access denied': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
        }
      })
    },
    testArray(){
      return [
        {
          name: 'a',
        },
        {
          name: 'b',
        },
      ]
    },
    isBusy(){
      const room = this.$store.state.roomsEvents.find()
      room.items.filter(item=>
        !item.attendees || item.attendees.find(attendee=>attendee.email===calendarId).responseStatus !== "declined"
      )
      //と、item.organizer.email が自分のもの
    },
  }
}
</script>

<style scoped>
.checked {
  background-color: #eeffff;
  color: #3884ff;
}

.occupied {
  background-color: lightgray;
  color: dimgray;
}

.dashed {
  background-color: #ffdada;
  color: red;
}

td.cell {
  min-width: 2rem;
  max-width: 2rem;
}

td.cell:nth-child(odd){
  border-left: 1px #dfdfdf solid;
  border-right: 1px #efefef dashed;
}

td.cell:nth-child(3) {
  border-left: 1px #222222 solid;
}

td.cell.data:nth-child(25) {
  border-left: 1px #222222 solid;
  border-right: 0px;
}
</style>
