<template id="room-list">
  <v-container>
    <v-card>
      <v-card-title>
        空き会議室から探す（○:空き時間）
      </v-card-title>
      <v-simple-table
       fixed-header
       dense
       class = "data"
      >
        <thead>
          <tr>
            <th>部屋</th>
            <template v-for="time in times">
              <th colspan="2" style="text-align: center">{{time}}</th>
            </template>
          </tr>
        </thead>
        <tbody>

          <template
            v-for="roomStatus in roomsStatus"
          >
            <tr>
              <td class="room">{{roomStatus.name}}{{roomStatus.caledarId}}</td>
              <td class="cell"></td>
              <template v-if="roomStatus.response==='has events'">
                <template v-for="(period,i) in periods">
                  <room-list-cell
                  v-bind:start-time="period.from"
                  v-bind:calendar-id="roomStatus.calendarId"
                  v-bind:name="roomStatus.calendarId"
                  v-bind:accepted="roomStatus.cells[i].accepted"
                  v-bind:declined="roomStatus.cells[i].declined"
                  v-bind:busy="roomStatus.cells[i].busy"
                  >
                  </room-list-cell>
                </template>
              </template>
              <template v-else-if="roomStatus.response==='has no events'">
                <template v-for="period in periods">
                  <td class="cell" @click="onClick">○</td>
                </template>
              </template>
              <template v-else-if="roomStatus.response==='access denied'">
                <template v-for="period in periods">
                  <td class="cell occupied" @click="onClick">-</td>
                </template>
              </template>
              <td class="cell"></td>
            </tr>
          </template>

        </tbody>
      </v-simple-table>
    </v-card>
  </v-container>
</template>

<script>
const RoomListCell = {
  template: `<td class="cell" :class="status" @click="onClick">{{text}}</td>`,
  props: {
    calendarId: String,
    name: String,
    startTime: Date,
    accepted: Array,
    declined: Array,
    busy: Array,
  },
  methods: {
    onClick(){
      console.log(this.calendarId, this.startTime, this.name)
    },
  },
  computed: {
    status(){
      if(this.accepted.length > 0 ){
        return 'checked'
      } else if (this.declined.length > 0) {
        return 'dashed'
      } else if (this.busy.length > 0) {
        return 'occupied'
      }
    },
    text(){
      if(this.accepted.length > 0 ){
        return '✔︎'
      } else if (this.declined.length > 0) {
        return '✖︎'
      } else if (this.busy.length > 0) {
        return '-'
      } else {
        return '○'
      }
    }
  },
}

const RoomList = {
  template: '#room-list',
  components: {
    RoomListCell: RoomListCell,
  },
  data(){
    return {
      times: [9,10,11,12,13,14,15,16,17,18,19],
    }
  },
  methods: {
    status(cell){
      if(cell.accepted.length > 0 ){
        return 'checked'
      } else if (cell.declined.length > 0) {
        return 'dashed'
      } else if (cell.busy.length > 0) {
        return 'occupied'
      }
    },
    statusText(cell){
      if(cell.accepted.length > 0 ){
        return '✔︎'
      } else if (cell.declined.length > 0) {
        return '✖︎'
      } else if (cell.busy.length > 0) {
        return '-'
      } else {
        return '○'
      }
    },
    onClick(value){
      console.log('clicked:',value)
    },
  },
  computed: {
    ...Vuex.mapGetters([
      'roomsStatus',
      'periods',
    ]),
    tableRoomsStatus(){
      return this.roomsStatus.map(roomStatus=>{
        switch(roomStatus.response){
          case 'has events': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
          case 'has no events': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
          case 'access denied': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
        }
      })
    },
    testArray(){
      return [
        {
          name: 'a',
        },
        {
          name: 'b',
        },
      ]
    },
    isBusy(){
      const room = this.$store.state.roomsEvents.find()
      room.items.filter(item=>
        !item.attendees || item.attendees.find(attendee=>attendee.email===calendarId).responseStatus !== "declined"
      )
      //と、item.organizer.email が自分のもの
    },
  }
}
</script>

<style>
.data th {
  padding : 0 0;
  text-align : center;
}

.data td.room {
  min-width: 5rem;
  text-align : left;
}

.data td {
  padding : 0 0;
  text-align : center;
}

.checked {
  background-color: #eeffff;
  color: #3884ff;
}

.occupied {
  background-color: lightgray;
  color: dimgray;
}

.dashed {
  background-color: #ffdada;
  color: red;
}

.data td.cell {
  min-width: 2rem;
  max-width: 2rem;
}

.data td.cell:nth-child(odd){
  border-left: 1px #dfdfdf solid;
  border-right: 1px #efefef dashed;
}

.data td.cell:nth-child(3) {
  border-left: 1px #222222 solid;
}

.data td.cell.data:nth-child(25) {
  border-left: 1px #222222 solid;
  border-right: 0px;
}
</style>
