<template id="user-settings">
      <v-card>
        <v-card-title>
          <span class="headline">会議室取得ツールへようこそ</span>
        </v-card-title>
        <v-card-text>
          はじめに利用する会議室を選んでください。<br>
          登録後も「メニュー＞設定」から変更できます。<br>
          <v-layout>
            <v-flex xs6>
              <v-card>
                <v-container fluid>
                  <p>会議室フロア</p>
                  <v-radio-group
                    v-model="floor"
                    :mandatory="true"
                  >
                    <v-radio
                      v-for="item in floorList"
                      :label="item"
                      :value="item"
                    ></v-radio>
                  </v-radio-group>
                </v-container>
              </v-card>
            </v-flex>
          </v-layout>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1" text
            @click="save"
            :disabled="!this.$store.getters.validRooms.length"
          >Save</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
const UserSettings = {
  template: '#user-settings',
  data() {
    return {
      floorInput: '',
    }
  },
  computed: {
    floor:{
      get(){
        return this.$store.state.user.floor
      },
      set(value){
        this.floorInput = value
      }
    },
    floorList() {
      return this.$store.getters.floors
    },
  },
  methods: {
    async getUserSettings() {
      const c = await runGas('getUserSettings')
    },
    save() {
      console.log(this.floorInput)
      if(this.floorInput)
      this.$store.commit('patchUserSettings',{
        floor: this.floorInput
      })
      this.$store.dispatch('setUserSettings')
    },
  }
}
</script>
