<template id="user-settings">
  <v-card>
    <v-card-title>
      <span class="headline">会議室取得ツールへようこそ</span>
    </v-card-title>
    <v-card-text>
      はじめに利用する会議室を選んでください。<br>
      登録後も「メニュー＞設定」から変更できます。<br>
    </v-card-text>

    <v-layout>
      <v-flex xs6>
        <v-card>
          <v-container fluid>
            <p>会議室フロア</p>
            <v-radio-group
              v-model="selectedFloor"
              :mandatory="true"
            >
              <v-radio
                v-for="item in floors"
                :label="item"
                :value="item"
              ></v-radio>
            </v-radio-group>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="blue darken-1" text
        @click="save"
        :disabled="false"
      >Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
const UserSettings = {
  template: '#user-settings',
  data() {
    return {
      selectedFloor: null
    }
  },

  created(){
    this.selectedFloor =  this.user.floor
  },

  computed: {
    ...Vuex.mapGetters([
      'floors',
      'validRooms',
    ]),
    ...Vuex.mapState([
      'user',
    ]),

  },
  methods: {
    ...Vuex.mapMutations([
      'patchUserSettings',
    ]),
    ...Vuex.mapActions([
      'setUserSettings',
    ]),
    save() {
//        this.$store.commit('patchUserSettings', {
        this.patchUserSettings({
          floor: this.selectedFloor
        })
        this.setUserSettings()
    },
  }
}
</script>
