<template id="watch-rooms">
  <v-container>
    <v-data-table
      class="elevation-1"
      :headers="headers"
      :items="tableStep1"
      :loading="isLoading"
      hide-default-footer
      loading-text="ロード中..."
      no-data-text="予定がありません"
      @click:row="selectEvent($event)"
      items-per-page="999"
    >
      <v-progress-linear #progress color="blue" indeterminate></v-progress-linear>
      <template #item.watch = {value,item}>
        <span>alarm</span>
      </template>

      <template #no-data>
        予定がありません
      </template>
      <template #item.watch = {value} >
        {{value}}
      </template>
    </v-data-table>

    <v-dialog :value="selectedEvent" max-width="800px" @click:outside="back">
      <v-data-table
        v-model="selected"
        :headers="headers2"
        :items="tableStep2"
        item-key="calendarId"
        show-select
        hide-default-footer
        class="elevation-5"
        multi-sort
        :sort-by="['status','name']"
        :sort-desc="[false,false]"
        items-per-page="999"
        @click:row="switchSelect($event)"
      >
        <template #top>
          <v-spacer></v-spacer>
          <v-btn class="ma-4" @click.stop='back'>戻る</v-btn>
          <v-btn class="ma-4"  :disabled="selected.length===0" @click.stop='register'>ウォッチ登録</v-btn>
        </template>
        <template #footer>
          <v-spacer></v-spacer>
          <v-btn class="ma-4" @click='back'>戻る</v-btn>
          <v-btn class="ma-4"  :disabled="selected.length===0" @click='register'>ウォッチ登録</v-btn>
        </template>
        <template #item.status = {value,item}>
          <v-btn
            v-if="value==='available'"
            @click.stop="console.log('clicked:'+item.calendarId)"
          >今すぐ取得</v-btn>
          <span v-else> {{value}} </span>
        </template>
      </v-data-table>
    </v-dialog>
    <v-dialog v-model="eventCreateModal">
        <watch-rooms-event-create
        >
      </watch-rooms-event-create>
    </v-dialog>

  </v-container>

</template>

<template id="watch-rooms-event-create">
  <v-card>
    <v-text-field
      v-model="name"
      label="部屋名"
    ></v-text-field>
    <v-text-field
      v-model="startTime"
      label="開始"
    ></v-text-field>
    <v-text-field
      v-model="startTime"
      label="終了"
    ></v-text-field>
    <v-text-field
      v-model="summary"
      label="予定名"
    ></v-text-field>
  </v-card>
</template>

<script>
const WatchRoomsEventCreate ={
  template: '#watch-rooms-event-create',
  data() {
    return {
      name: 'name',
      startTime: 'xx-xx',
      endTime: 'xx-xx2',
      summary: ''
    }
  },
}
const WatchRooms = {
  template: '#watch-rooms',
  components: {
    WatchRoomsEventCreate,
  },
  computed: {
    ...Vuex.mapState([
      'roomsEvents',
      'user',
      'isLoading',
      'selectedDate',
    ]),
    ...Vuex.mapGetters([
      'validRooms',
      'roomsEventsSelectedDate',
      'calendarEventsSelectedDate',
      'myWatchList',
    ]),
    step(){
      if(!this.selectedEvent) return 1
      return 2
    },
    tableStep1() {
      if(!this.calendarEventsSelectedDate){
        //ロード中
        return
      }
      switch(this.calendarEventsSelectedDate.response){
        case 'has events': {
          return this.calendarEventsSelectedDate.items.map( item => {
            // 変換を指定
            return {
              eventId: item.eventId,
              time: getTimeString(item.startTime, item.endTime),
              summary: item.summary,
              location: item.location,
              startTime: item.startTime,
              endTime: item.endTime,
              watch: this.myWatchList.find(watch=>watch.eventId===item.eventId),
              event: item,
            }
          })


        }
        case 'has no events': {

        }
        case 'access denied': {

        }
        dafault :{
          //エラー

        }
      }
    },
    titleStep1(){
      if(!this.selectedEvent) return '予定を選ぶ'
      return (
        '選択:'
        + this.selectedEvent.time + ' '
        + this.selectedEvent.summary
        )
    },
    tableStep2(){
      if(!this.selectedEvent || this.validRooms.length === 0 ) return []
      const results = this.roomsEventsSelectedDate.map(roomEvents=>{
        const room = this.validRooms.find(room=>room.calendarId===roomEvents.calendarId)
        //roomがないときはロード中
        if(!room) return {
          calendarId: roomEvents.calendarId,
          name: '',
          status: 'loading',
        }
        switch(roomEvents.response){
          case 'has events': {
            const events = roomEvents.items.filter(event=>{
              console.log('step2_selectedEvent',this.selectedEvent)
              const status = getRoomStatus(
                event,
                roomEvents.calendarId,
                state.user.email,
                this.selectedEvent.startTime,
                this.selectedEvent.endTime
              )
              if(status === 'busy' || status ==='accepted'){
                return true
              }
              return false
            }).map(event=>{
              let organizer
              if(!event.organizer) {
                organizer = '非公開'
              } else {
                organizer = event.organizer.displayName ?
                  event.organizer.displayName : event.organizer.email
              }
              return {
                time: getTimeString(event.startTime,event.endTime),
                summary: event.summary,
                organizer: organizer,
              }
            })
            console.log('room',room)
            if(events.length!==0){
              const event = events[0]
              return {
                calendarId: room.calendarId,
                name: room.name,
                status: 'occupied',
                time: event.time,
                summary: event.summary,
                organizer: event.organizer,
              }
            } else {
              return {
                calendarId: room.calendarId,
                name: room.name,
                status: 'available',
              }
            }
          }
          console.log('noEvent room',room)
          case 'has no events': {
            return {
              calendarId: room.calendarId,
              name: room.name,
              status: 'available',
            }
          }
          console.log('denied room',room)
          case 'access denied':{
            return {
              calendarId: room.calendarId,
              name: room.name,
              status: 'noAuth',
            }
          }
        }
      })
      return results
    },
  },
  watch: {
    selectedEvent(){
      this.selected = this.tableStep2.map(item=>item)
    },
  },
  data() {
    return {
      eventCreateModal: false,
      selected: [],
      loading: false,
      selectedEvent: null,


      headers: [{
          text: '時間',
          value: 'time',
          align: 'left',
          sortable: false,
          width: '80'
        },
        {
          text: '予定名',
          value: 'summary',
          align: 'left',
          sortable: false
        },
        {
          text: '場所',
          value: 'location',
          align: 'left',
          sortable: false
        },
        {
          text: 'ウォッチ',
          value: 'watch',
          align: 'center',
          sortable: false,
          width: '60'
        },
      ],

      headers2: [{
          text: '部屋',
          value: 'name',
          align: 'left',
          sortable: true,
          width: '60'
        },
        {
          text: '空き状況',
          value: 'status',
          align: 'left',
          sortable: true,
          width: '60',
        }
        ,
        {
          text: '先約時間',
          value: 'time',
          align: 'left',
          sortable: false,
          width: 80,
        },
        {
          text: '先約名',
          value: 'summary',
          align: 'left',
          sortable: false,
        },
        {
          text: '先約者',
          value: 'organizer',
          align: 'left',
          sortable: false,
        },
      ],


    }
  },
  methods: {
    ...Vuex.mapMutations([
      'updateSelectedEvent',
    ]),
    ...Vuex.mapActions([
      'updateSelectedDate',
      'setWatchList',
      'getWatchList',
      'setTrigger',
    ]),
    switchSelect(event){
      console.log(this.selected)
      const index = this.selected.findIndex(item=>item.calendarId === event.calendarId)
      console.log('index:',index)
      if(index===-1) {
        this.selected.push(event)
      } else {
        this.selected.splice(index,1)
      }
    },
    selectEvent(value){
      this.updateSelectedEvent(value.event)
      this.selectedEvent = value
    },
    updateSelected(value){
    },
    back() {
      this.selectedEvent = null

    },
    register() {
      const watchRooms = this.selected.map(room=>{
        return {
          calendarId: room.calendarId,
          name: room.name,
        }
      })
      const record ={
        subscriber: this.user.email,
        status: '01_ウォッチ中',
        eventId: this.selectedEvent.eventId,
        startTime: this.selectedEvent.startTime,
        endTime: this.selectedEvent.endTime,
        summary: this.selectedEvent.summary,
        watchRooms: watchRooms,
      }
      this.setWatchList(record)
      this.setTrigger()
      this.selectedEvent = null
      this.getWatchList()
    }
  },
}
</script>
