<template id='watch-list'>
  <v-container>
    <v-card>
      <v-card-title>
        ウォッチ中一覧
        <div class="flex-grow-1"></div>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
      ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headerWatchList"
        :items="tableWatchList"
        :search="search"
        @click:row="selectedRecord=$event;dialog=true"
      >
        <template #item.delete = {item}>
          <v-btn icon
            @click.stop="selectedRecord=$event;deleteDialog=true"
          ><v-icon>delete</v-icon></v-btn>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog
      v-model="dialog"
    >
      <v-card>
        <v-card-title>
          summary
          <div class="flex-grow-1"></div>
          <v-btn
            icon
            @click="deleteDialog=true"
          ><v-icon>delete</v-icon></v-btn>

        </v-card-title>
        <v-data-table
          :headers="headerWatchRooms"
          :items="tableWatchRooms"
          hide-default-footer
          items-per-page="999"
        >
        </v-data-table>
      </v-card>
    </v-dialog>


    <v-dialog
      v-model="deleteDialog"
      width="300"
    >
      <v-card>
        <v-card-title
          class="headline">
          ウォッチを止めますか？</v-card-title>
        <v-card-text>
          XX
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
            <v-btn
              color="green darken-1"
              text
              @click="deleteDialog = false"
            >
              Disagree
            </v-btn>

            <v-btn
              color="green darken-1"
              text
              @click="deleteDialog = false"
            >
              Agree
            </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  const WatchList = {
    template: '#watch-list',
    data() {
      return {
        search: '',
        dialog: false,
        deleteDialog: false,
        selectedRecord: null,
        headerWatchList:[
          {
            text: '時間',
            value: 'time',
            align: 'left',
            sortable: false,
          },
          {
            text: '予定名',
            value: 'summary',
            align: 'left',
            sortable: false,
          },
          {
            text: '',
            value: 'delete',
            align: 'right',
            sortable: false,
          },
        ],
        headerWatchRooms: [
          {
            text: '部屋',
            value: 'name',
            align: 'left',
            sortable: false,
          },
        ],
      }
    },
    computed: {
      ...Vuex.mapGetters([
        'myWatchList',
      ]),
      tableWatchList(){
        return this.myWatchList.map(record=>({
          eventId: record.eventId,
          time: getTimeString(record.startTime, record.endTime),
          summary: record.summary,
          watchRooms: record.watchRooms,
        })
      )
      },
      tableWatchRooms(){
        if(!this.selectedRecord) return []
        return this.selectedRecord.watchRooms.map(room=>{
          return {
            name: room.name,
          }
        })
      },
    }
  }
</script>
