<template id="watch-room">
  <v-container>
    <v-stepper v-model="step" vertical>
      <v-stepper-step
        step="1"
        :complete="step > 1"
      >
      {{titleStep1}}
      </v-stepper-step>
      <v-stepper-items>
        <v-stepper-content step="1">
          <v-data-table
            class="elevation-5"
            :headers="headers"
            :items="tableStep1"
            :loading="loading"
            :items-per-page="-1"
          >
            <v-progress-linear #progress color="blue" indeterminate></v-progress-linear>
            <template #item="{ item, select }">
              <tr :active="select" @click="selectEvent(item)">
                <td>{{ item.time }}</td>
                <td>{{ item.summary }}</td>
                <td>{{ item.location }}</td>
                <td>
                  <v-icon>alarm</v-icon>
                </td>
              </tr>
            </template>
            <template #no-data>
              <span v-if="loading">
                ロード中
              </span>
              <v-alert v-else :value="true" color="info" icon="priority_high">
                予定はありません
              </v-alert>
            </template>
          </v-data-table>
        </v-stepper-content>

        <v-stepper-step
          step="2"
          :complete="step > 2"
        >会議室を選ぶ
        </v-stepper-step>

        <v-stepper-content step="2">
          <v-data-table
            show-select
            :headers="headers2"
            :items="tableStep2"
            class="elevation-5"
            item-key="roomId"
            :loading="loading"
          >
            <template #headers="{all, indeterminate, headers}">
              <tr>
                <th class="text-xs-left px-2" width="10">
                  <v-checkbox
                    :input-value="all"
                    :indeterminate="indeterminate"
                    primary
                    hide-details
                    @click.stop="toggleAll"
                  ></v-checkbox>
                </th>
                <th
                  v-for="header in headers"
                  :key="header.text"
                  class="text-xs-left px-2"
                  :width="header.width"
                >
                  {{ header.text }}
                </th>
              </tr>
            </template>

            <template #item="props">
              <tr
                :active="props.selected"
                @click="console.log('rara')"
              >
                <td class="text-xs-left px-2">
                  <v-checkbox
                    :input-value="props.selected"
                    primary
                    hide-details
                  ></v-checkbox>
                </td>
                <td class="text-xs-left px-2">{{ props.item.roomName }}</td>
                <template v-if="props.item.status === 'busy'">
                  <td class="text-xs-left px-2">{{ props.item.summary }}</td>
                  <td class="text-xs-left px-2">{{ props.item.organizer }}</td>
                  <td class="text-xs-left px-2">{{ props.item.numAttendees }}</td>
                </template>
                <template v-if="props.item.status === 'free'">
                  <td class="px-2">
                    <v-btn color="primary" @click.stop="">いますぐ取得</v-btn>
                  </td>
                  <td></td>
                  <td></td>
                </template>

              </tr>
            </template>
            <template #no-data>
              <span v-if="loading">
                ロード中
              </span>
              <v-alert v-else :value="true" color="info" icon="priority_high">
                予定はありません
              </v-alert>
            </template>
          </v-data-table>
          <v-btn @click='back'>戻る</v-btn>
          <v-btn @click='register'>ウォッチ登録</v-btn>


        </v-stepper-content>
        <v-stepper-content step="3">

        </v-stepper-content>
      </v-stepper-items>

      <v-stepper-step
        step="3"
        :complete="step > 3"
      >
      </v-stepper-step>

      <v-stepper-content step="3">
        <v-icon>loading</v-icon>
      </v-stepper-content>

    </v-stepper>
  </v-container>
</template>

<script>
const WatchRoom = {
  template: '#watch-room',
  computed: {
    ...Vuex.mapState([
      'myEvents',
    ]),
    ...Vuex.mapGetters([
      'calendarEventsSelectedDate',
    ]),
    tableStep1() {
      const myEventsSelectedDate = this.calendarEventsSelectedDate
      if (!myEventsSelectedDate){
        //ロード前
        return
      }
      if (myEventsSelectedDate.response === 'has events') {
        return myEventsSelectedDate.items.map( item => {

          // 変換を指定
          const time = String(item.startTime.getHours()).padStart(2,"0")
           + ":" + String(item.startTime.getMinutes()).padStart(2,"0")
           + "-" + String(item.endTime.getHours()).padStart(2,"0")
           + ":" + String(item.endTime.getMinutes()).padStart(2,"0")

          return {
            eventId: item.eventId,
            time: time,
            summary: item.summary,
            location: item.location,
            monitored: true,
          }
        })
      }
    },
    titleStep1(){
      if(!this.selectedEvent) return '予定を選ぶ'
      return (
        '選択:'
        + this.selectedEvent.time + ' '
        + this.selectedEvent.summary
        )
    },
    tableStep2(){
      const validRooms = this.$store.getters.validRooms
      const roomEvents = this.$store.state.roomEvents
      const selectedEvent = this.selectedEvent

      const results = validRooms.map(room=>{
        return {
          roomId: room.calendarId,
          roomName: room.name,
          status: 'busy',
          summary: 'test',
          organizer: 'testorg',
        }
      })
      return results
    },
  },
  data() {
    return {
      step: 0,
      loading: false,
      pagination: {
        rowsPerPage: -1,
      },

      selectedRooms: [],
      selectedEvent: null,


      headers: [{
          text: '時間',
          value: 'time',
          align: 'left',
          sortable: false,
          width: '60'
        },
        {
          text: '予定名',
          value: 'summary',
          align: 'left',
          sortable: false
        },
        {
          text: '場所',
          value: 'location',
          align: 'left',
          sortable: false
        },
        {
          text: 'ウォッチ',
          value: 'location',
          align: 'center',
          sortable: false,
          width: '60'
        },
      ],

      headers2: [{
          text: '部屋',
          value: 'roomName',
          align: 'left',
          sortable: false,
          width: '60'
        },
        {
          text: '先約名',
          value: 'summary',
          align: 'left',
          sortable: false,
        },
        {
          text: '先約者',
          value: 'organizer',
          align: 'left',
          sortable: false,
        },
        {
          text: '人数',
          value: 'numAttendees',
          align: 'center',
          sortable: false,
          width: '60'
        },
      ],


    }
  },
  methods: {
    selectEvent(value){
      this.step = 2
      this.selectedEvent = value
    },
    toggleAll() {
      if (this.selectedRooms.length) this.selectedRooms = []
      else this.selectedRooms = this.tableStep2.slice()
    },
    back() {
      console.log('back')

    },
    register() {
      console.log('register')
    }
  },
}
</script>
