<template id="watch-rooms">
  <v-container>
    <v-card>
    <v-card-title>
      予定一覧
    </v-card-title>
    <v-data-table
      class="elevation-1"
      :headers="headers"
      :items="tableStep1"
      :loading="isLoading"
      multi-sort
      :sort-by="['time']"
      hide-default-footer
      loading-text="ロード中..."
      no-data-text="予定がありません"
      @click:row="selectEvent($event)"
      items-per-page="999"
    >
      <v-progress-linear #progress color="blue" indeterminate></v-progress-linear>
      <template #no-data>
        予定がありません
      </template>
      <template #item.watch = "{value,item}" >
        <template v-if="value==='01_ウォッチ中'">
          <v-btn icon @click.stop=""><v-icon>alarm</v-icon></v-btn>
        </template>
        <template v-else-if="value==='00_ロード中'">
          <v-progress-circular
            indeterminate
            size="20"
            width="2"
          ></v-progress-circular>
        </template>
      </template>
    </v-data-table>

    <v-dialog :value="selectedEvent" max-width="1000px" @click:outside="back">
      <v-data-table
        v-model="selected"
        :headers="headers2"
        :items="tableStep2"
        item-key="calendarId"
        show-select
        hide-default-footer
        class="elevation-5"
        multi-sort
        :sort-by="['status','name']"
        :sort-desc="[false,false]"
        items-per-page="999"
        @click:row="switchSelect($event)"
      >
        <template #top>
          <v-row justify="end">
          <v-btn
            class="ma-2"
            @click.stop='back'
          >戻る</v-btn>
          <v-btn
            class="ma-2 mr-4"
            color="secondary"
            :disabled="selected.length===0"
            @click.stop='handleSetWatchList'
          >ウォッチ登録</v-btn>
          </v-row>
        </template>
        <template #item.status = {value,item}>
          <v-btn
            color="primary"
            v-if="value==='available'"
            @click.stop="handleAddGuest(item.calendarId)"
          >今すぐ取得</v-btn>
          <v-progress-circular
            v-else-if="value==='loading'"
            indeterminate
            size="20"
            width="2"
          ></v-progress-circular>
          <span v-else> {{statusText[value]}} </span>
        </template>
      </v-data-table>
    </v-dialog>
    <v-dialog v-model="eventCreateModal">
        <watch-rooms-event-create
        >
      </watch-rooms-event-create>
    </v-dialog>
    <v-snackbar
      v-model="snackbar.display"
      :timeout="snackbar.timeout"
    >
      <v-icon :color="snackbar.iconColor">{{snackbar.icon}}</v-icon>
      {{snackbar.text}}
      <v-btn
        color="blue"
        text
        @click="snackbar.display = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-card>
  </v-container>


</template>

<template id="watch-rooms-event-create">
  <v-card>
    <v-text-field
      v-model="name"
      label="部屋名"
    ></v-text-field>
    <v-text-field
      v-model="startTime"
      label="開始"
    ></v-text-field>
    <v-text-field
      v-model="startTime"
      label="終了"
    ></v-text-field>
    <v-text-field
      v-model="summary"
      label="予定名"
    ></v-text-field>
  </v-card>
</template>

<script>
const WatchRoomsEventCreate ={
  template: '#watch-rooms-event-create',
  data() {
    return {
      name: 'name',
      startTime: 'xx-xx',
      endTime: 'xx-xx2',
      summary: ''
    }
  },
}
const WatchRooms = {
  template: '#watch-rooms',
  components: {
    WatchRoomsEventCreate,
  },
  computed: {
    ...Vuex.mapState([
      'roomsEvents',
      'user',
      'isLoading',
      'selectedDate',
      'watchList',
    ]),
    ...Vuex.mapGetters([
      'validRooms',
      'roomsEventsSelectedDate',
      'calendarEventsSelectedDate',
      'myWatchList',
    ]),
    step(){
      if(!this.selectedEvent) return 1
      return 2
    },
    tableStep1() {
      if(!this.calendarEventsSelectedDate){
        //ロード中
        return
      }
      switch(this.calendarEventsSelectedDate.response){
        case 'has events': {
          return this.calendarEventsSelectedDate.items.map( item => {
            // 変換を指定
            const watch = this.watchList.find(watch=>{
              return (
                watch.eventId===item.eventId
                && watch.subscriber===this.user.email
              )
            })

            return {
              eventId: item.eventId,
              time: getStartEndTimeString(item.startTime, item.endTime),
              summary: item.summary,
              location: item.location,
              startTime: item.startTime,
              endTime: item.endTime,
              watch: watch ? watch.status : null,
              event: item,
              attendees: item.attendees,
            }
          })


        }
        case 'has no events': {

        }
        case 'access denied': {

        }
        dafault :{
          //エラー

        }
      }
    },
    titleStep1(){
      if(!this.selectedEvent) return '予定を選ぶ'
      return (
        '選択:'
        + this.selectedEvent.time + ' '
        + this.selectedEvent.summary
        )
    },
    tableStep2(){
      if(!this.selectedEvent || this.validRooms.length === 0 ) return []
//      const results = this.roomsEventsSelectedDate.map(roomEvents=>{
//        const room = this.validRooms.find(room=>room.calendarId===roomEvents.calendarId)
      const results = this.validRooms.map(room=>{
        const roomEvents = this.roomsEventsSelectedDate.find(roomEvents=>{
          return room.calendarId===roomEvents.calendarId
        })
        //roomがないときはロード中
        if(!roomEvents) return {
          calendarId: room.calendarId,
          name: '',
          status: 'loading',
        }
        switch(roomEvents.response){
          case 'has events': {
            const events = roomEvents.items.filter(event=>{
              const status = getRoomStatus(
                event,
                roomEvents.calendarId,
                state.user.email,
                this.selectedEvent.startTime,
                this.selectedEvent.endTime
              )
              if(status === 'busy' || status ==='accepted'){
                return true
              }
              return false
            }).map(event=>{
              let organizer
              if(!event.organizer) {
                organizer = '非公開'
              } else {
                organizer = event.organizer.displayName ?
                  event.organizer.displayName : event.organizer.email
              }
              return {
                time: getStartEndTimeString(event.startTime,event.endTime),
                summary: event.summary,
                organizer: organizer,
              }
            })
            if(events.length!==0){
              const event = events[0]
              return {
                calendarId: room.calendarId,
                name: room.name,
                status: 'occupied',
                time: event.time,
                summary: event.summary,
                organizer: event.organizer,
              }
            } else {
              return {
                calendarId: room.calendarId,
                name: room.name,
                status: 'available',
              }
            }
          }
          case 'has no events': {
            return {
              calendarId: room.calendarId,
              name: room.name,
              status: 'available',
            }
          }
          case 'access denied':{
            return {
              calendarId: room.calendarId,
              name: room.name,
              status: 'z_noAuth',
            }
          }
        }
      })
      return results
    },
  },
  watch: {
    selectedEvent(){
      if( this.selectedEvent ){
        const record = this.myWatchList.find(record=>{
          return record.eventId === this.selectedEvent.eventId
        })
        console.log('selectedEvent',this.selectedEvent)
        console.log('myWatchList',this.myWatchList)
        console.log('watchListToUpdate',record)
        this.selected = this.tableStep2.filter(item=>{
          return !record || (
            record.watchRooms.some(list=>list.calendarId === item.calendarId)
          )
        })
      }
    },
  },
  data() {
    return {
      eventCreateModal: false,
      selected: [],
      loading: false,
      selectedEvent: null,
      snackbar: {
        display: false,
        timeout: '5000',
        iconColor: 'primary',
        icon: 'information',
        text: '',
      },

      statusText: {
        z_noAuth: '利用権限なし',
        occupied: '先約あり',
        available: '○',
        loading: 'ロード中・・・',
      },


      headers: [{
          text: '時間',
          value: 'time',
          align: 'left',
          sortable: true,
          width: '120'
        },
        {
          text: '予定名',
          value: 'summary',
          align: 'left',
          sortable: false
        },
        {
          text: '場所',
          value: 'location',
          align: 'left',
          sortable: false
        },
        {
          text: 'ウォッチ',
          value: 'watch',
          align: 'center',
          sortable: false,
          width: '60'
        },
      ],

      headers2: [{
          text: '部屋',
          value: 'name',
          align: 'left',
          sortable: true,
          width: '60'
        },
        {
          text: '空き状況',
          value: 'status',
          align: 'left',
          sortable: true,
          width: '60',
        }
        ,
        {
          text: '先約時間',
          value: 'time',
          align: 'left',
          sortable: false,
          width: 120,
        },
        {
          text: '先約名',
          value: 'summary',
          align: 'left',
          sortable: false,
        },
        {
          text: '先約者',
          value: 'organizer',
          align: 'left',
          sortable: false,
        },
      ],


    }
  },
  methods: {
    ...Vuex.mapMutations([
      'updateSelectedEvent',
      'updateInitializing',
      'addEventRoomsEvents',
      'pushWatchList',
    ]),
    ...Vuex.mapActions([
      'updateSelectedDate',
      'setWatchList',
      'getWatchList',
      'setTrigger',
      'addGuests',
      'log',
    ]),
    switchSelect(event){
      const index = this.selected.findIndex(item=>item.calendarId === event.calendarId)
      if(index===-1) {
        this.selected.push(event)
      } else {
        this.selected.splice(index,1)
      }
    },
    selectEvent(value){
      this.updateSelectedEvent(value.event)
      this.selectedEvent = value
    },
    updateSelected(value){
    },
    back() {
      this.selectedEvent = null

    },
    async handleAddGuest(calendarId) {
      //会議室を取得する
      const event = this.selectedEvent
      const attendees = event.attendees ? event.attendees : []
      attendees.push({email:calendarId})

      const payload={
        calendarId: this.user.email,
        eventId: event.eventId,
        guests: attendees,
      }

      this.addGuests({
        meta: null,
        error: false,
        payload: payload,
      }).then(event=>{
        this.addEventRoomsEvents({
          calendarId: calendarId,
          event: event,
        })
        this.snackbar.text="会議室を追加しました"
        this.snackbar.icon='info'
        this.snackbar.iconColor='primary'
        this.snackbar.display=true
        this.log({
          message: '会議室取得_ウォッチリストから',
          detail: {
            calendarId: calendarId,
            event: {
              eventId: event.eventId,
              startTime: event.startTime.toLocaleString(),
              endTime: event.endTime.toLocaleString(),
              summary: event.summary,
            }
          }
        })
      },error=>{
        this.snackbar.text="タイムアウト：接続を確認してください"
        if(error.response="timeout") this.snackbar.text="タイムアウト:取れたかどうか確認してください"
        this.snackbar.icon='warning'
        this.snackbar.iconColor='red'
        this.snackbar.display=true
      })
      //選択を削除して前画面に戻る
      this.selectedEvent = null
    },
    async handleSetWatchList() {
      const watchRooms = this.selected.map(room=>{
        return {
          calendarId: room.calendarId,
          name: room.name,
        }
      })
      const record ={
        subscriber: this.user.email,
        status: '00_ロード中',
        eventId: this.selectedEvent.eventId,
        startTime: this.selectedEvent.startTime,
        endTime: this.selectedEvent.endTime,
        summary: this.selectedEvent.summary,
        watchRooms: watchRooms,
      }
      //ロード中としてアップデート
      console.log(record)

      this.selectedEvent = null
      this.pushWatchList(record)
      await this.setWatchList({
        subscriber: this.user.email,
        status: '01_ウォッチ中',
        eventId: record.eventId,
        startTime: record.startTime,
        endTime: record.endTime,
        summary: record.summary,
        watchRooms:record.watchRooms,
      })
      record.status='01_ウォッチ中'

      await this.setTrigger()
    }
  },
}
</script>
