<template id='watch-list'>
  <v-container>
    <v-card>
      <v-card-title>
        ウォッチ中一覧
        <div class="flex-grow-1"></div>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
      ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headerWatchList"
        :items="tableWatchList"
        :search="search"
        multi-sort
        :sort-by="['date','time']"
        :sort-desc="[false,false]"
      >
        <template #item.delete = {item}>
          <v-btn icon
            @click.stop="selectedRecord=item;deleteDialog=true"
          ><v-icon>delete</v-icon></v-btn>
        </template>
      </v-data-table>
    </v-card>

 <!--
    <v-dialog
      v-model="dialog"
    >
      <v-card>
        <v-card-title>
          summary
          <div class="flex-grow-1"></div>
          <v-btn
            icon
            @click="deleteDialog=true"
          ><v-icon>delete</v-icon></v-btn>

        </v-card-title>
        <v-data-table
          :headers="headerWatchRooms"
          :items="tableWatchRooms"
          hide-default-footer
          items-per-page="999"
        >
        </v-data-table>
      </v-card>
    </v-dialog>
-->

    <v-dialog
      v-model="deleteDialog"
      width="400"
    >
      <v-card>
        <v-card-title
          class="headline">
          ウォッチを止めますか？</v-card-title>
        <v-card-text>
          XX
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
            <v-btn
              color="gray darken-1"
              text
              @click="deleteDialog = false"
            >
              Cancel
            </v-btn>

            <v-btn
              color="red darken-2"
              text
              @click="handleDeleteWatch"
            >
              削除する
            </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  const WatchList = {
    template: '#watch-list',
    data() {
      return {
        search: '',
        dialog: false,
        deleteDialog: false,
        selectedRecord: null,
        headerWatchList:[
          {
            text: '日付',
            value: 'date',
            align: 'left',
            width: '100',
          },
          {
            text: '時間',
            value: 'time',
            align: 'left',
            width: '120',
          },
          {
            text: '予定名',
            value: 'summary',
            align: 'left',
            sortable: false,
          },
          {
            text: '',
            value: 'delete',
            align: 'right',
            sortable: false,
          },
        ],
        headerWatchRooms: [
          {
            text: '部屋',
            value: 'name',
            align: 'left',
            sortable: false,
          },
        ],
      }
    },
    computed: {
      ...Vuex.mapGetters([
        'myWatchList',
      ]),
      tableWatchList(){
        return this.myWatchList.map(record=>({
          subscriber: record.subscriber,
          eventId: record.eventId,
          date: record.startTime.toLocaleDateString(),
          time: getStartEndTimeString(record.startTime, record.endTime),
          summary: record.summary,
          watchRooms: record.watchRooms,
        })
      )
      },
      tableWatchRooms(){
        if(!this.selectedRecord) return []
        return this.selectedRecord.watchRooms.map(room=>{
          return {
            name: room.name,
          }
        })
      },
    },
    methods: {
      ...Vuex.mapActions([
        'deleteWatch',
      ]),
      handleDeleteWatch(){
        this.deleteDialog = false
        this.deleteWatch({
          subscriber: this.selectedRecord.subscriber,
          eventId: this.selectedRecord.eventId,
        })
      },
    }
  }
</script>
