<template id="the-nav-drawer">
  <v-navigation-drawer
    app clipped
    v-model="drawer"
    mobile-break-point="960"
  >
  <v-list>
      <v-subheader>{{user.email}}</v-subheader>
      <template v-for="item in items">
        <v-list-item
          @click="navigateTo(item)"
          :key="item.text"
          :class="textClass(item.link)"
        >
          <v-list-item-action>
              <v-icon
                :color="iconClass(item.link)"
              >
              {{ item.icon }}
              </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              <span
                :class="textClass(item.link)"
              >
                {{ item.text }}
              </span>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
  </v-list>
  </v-navigation-drawer>
</template>

<script>
const TheNavDrawer = {
  template: '#the-nav-drawer',
  computed: {
    drawer:{
      get(){
        return this.$store.state.drawer
      },
      set(value){
        this.$store.commit('setDrawer',value)
      },
    },
    user() {
      return this.$store.state.user
    },
  },
  methods: {
    navigateTo(item) {
      if(item.link) {
        this.$router.push(item.link)
      } else {
        this.selected=item.link
        this.$store.commit(item.method, item.payload)
      }
    },
    textClass(loc) {
      if (loc === this.$route.path ) {
        return 'blue lighten-5 blue--text text--darken-3'
      } else {
        return ''
      }
    },
    iconClass(loc) {
      if (loc == this.$route.path ) {
        return 'blue darken-3 '
      } else {
        return ''
      }
    }
  },
  data() {
    return {
      selected: this.$route.path,
      items: [
        { icon: 'meeting_room', text: '空き会議室を探す' , link: '/roomList' },
        { icon: 'alarm', text: '会議室をウォッチする', link: '/watchRooms' },
        { icon: 'list', text: 'ウォッチ中一覧', link: '/watchList' },
        { icon: 'reply', text: '取得した会議室を譲る'  ,link: '/transfer' },
        { icon: 'settings', text: 'ユーザ設定', method: 'updateNewUser', payload:true },
      ],
    }
  },
}
</script>
