<template id="room-list">
  <v-container>
    <v-card>
      <v-card-title>
        空き会議室一覧
        <v-progress-circular
          v-if="false"
          class = "ml-4"
          indeterminate
          color=primary
        ></v-progress-circular>

      </v-card-title>
      <v-container v-if="roomsStatus.response==='error'">
      <v-alert prominent outlined type="error">
        <v-row>
          <v-col class="grow">ネットワークが不安定です。再読込してください。</v-col>
        <v-col class="shrink">
        <v-btn
            color="error"
            outlined
            @click="$store.dispatch('getFreeBusy');$store.dispatch('getCalendarEvents');"
          >
            読込
          </v-btn>
          </v-col>
          </v-row>
      </v-alert>
      </v-container>

      <v-container v-else>

      <v-progress-linear
        class="mb-2"
        indeterminate
        v-if="roomsStatus.response==='loading'"
      ></v-progress-linear>

      <v-simple-table
        dense
        fixed-header
        class = "data"
      >
        <thead>
            <th colspan="2">
              部屋名
            </th>
            <template v-for="time of times">
              <th colspan="2" class="subtitle-1 indigo--text" style="text-align: center">{{time}}</th>
            </template>
        </thead>
        <tbody>
          <template
            v-for="room of roomsStatus.rooms"
          >
            <tr>
              <td class="room">{{room.name}}{{room.caledarId}}</td>
              <td class="cell"></td>
              <template v-for="(period,j) in periods">
                <room-list-cell
                  v-bind:key="period"
                  v-bind:response="room.response"
                  v-bind:cells="room.cells[j]"
                  @on-click="onClick(room,j)"
                  >
                </room-list-cell>
              </template>
              <td class='nodata'></td>
            </tr>
          </template>

        </tbody>
      </v-simple-table>
      <v-dialog
        v-model="createModal"
        max-width="600px"
      >
    <room-list-create
      :name="createProps.name"
      :start-time="createProps.startTime"
      :end-time-array="createProps.endTimeArray"
      :initial-summary="''"
      @create="handleCreateEvent($event)"
      @cancel="createModal=false"
    ></room-list-create>
    </v-dialog>
    <v-snackbar
      v-model="snackbar.display"
      :timeout="snackbar.timeout"
    >
      <v-icon :color="snackbar.iconColor">{{snackbar.icon}}</v-icon>
      {{snackbar.text}}
      <v-btn
        color="blue"
        text
        @click="snackbar.display = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>


<script>
const RoomList = {
  template: '#room-list',
  components: {
    RoomListCell: RoomListCell,
    RoomListCreate: RoomListCreate,
  },
  data(){
    return {
      times: [9,10,11,12,13,14,15,16,17,18,19],
      createModal: false,
      createProps: {
        calendarId: '',
        name: '',
        startTime: null,
        endTimeArray: [],
        summary: ''
      },
      snackbar: {
        display: false,
        timeout: '5000',
        iconColor: 'primary',
        icon: 'information',
        text: '',
      },
    }
  },
  methods: {
    ...Vuex.mapMutations([
      'addEventRoomsEvents',
    ]),
    ...Vuex.mapActions([
      'createEvent',
      'log',
    ]),
    statusText(response, cell){
      switch(response){
        case 'has events': {
          if(cell.accepted.length > 0 ){
            return '✔︎'
          } else if (cell.declined.length > 0) {
            return '✖︎'
          } else if (cell.busy.length > 0) {
            return '-'
          } else {
            return '○'
          }
        }
        case 'has no events': {
          return '○'
        }
        case 'access denied': {
          return '-'
        }
        default: {
          return response
        }
      }
    },
    onClick(room,j){
      const startTime = this.periods[j].from
      const endTimeArray = []
      for(let i=j; i<this.periods.length; i++){
        if(this.statusText(room.response,room.cells[i])==='○'){
          endTimeArray.push(this.periods[i].to)
        } else {
          break
        }
      }
      if(endTimeArray.length===0)return
      this.createProps.calendarId = room.calendarId
      this.createProps.name = room.name
      this.createProps.startTime= startTime
      this.createProps.endTimeArray = endTimeArray
      this.createProps.summary = ''
      this.createModal = true
    },

    handleCreateEvent({endTime,summary}){
      this.createModal=false
      const payload = {
        calendarId: this.user.email,
        startTime: this.createProps.startTime,
        endTime: endTime,
        summary: summary,
        attendees: [{
          email: this.createProps.calendarId,
        }]
      }
      this.createEvent(payload).then(event=>{
        console.log('createEvent', this.createProps.calendarId, event)
        this.addEventRoomsEvents({
          calendarId: this.createProps.calendarId,
          event: event,
        })
        this.snackbar.text="会議室を追加しました"
        this.snackbar.icon='info'
        this.snackbar.iconColor='primary'
        this.snackbar.display=true
        this.log({
          message: '会議室取得_空き一覧から',
          detail: {
            calendarId: this.createProps.calendarId,
            event: {
              eventId: event.eventId,
              startTime: event.startTime.toLocaleString(),
              endTime: event.endTime.toLocaleString(),
              summary: event.summary,
            }
          }
        })
      },error=>{
        this.snackbar.text="タイムアウト：接続を確認してください"
        if(error.response="timeout") this.snackbar.text="タイムアウト:取れたかどうか確認してください"
        this.snackbar.icon='warning'
        this.snackbar.iconColor='red'
        this.snackbar.display=true
      })
    },
  },
  computed: {
    ...Vuex.mapGetters([
      'validRooms',
      'roomsStatus',
      'periods',
    ]),
    ...Vuex.mapState([
      'user',
    ]),
    tableRoomsStatus(){
      return this.roomsStatus.map(roomStatus=>{
        switch(roomStatus.response){
          case 'has events': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
          case 'has no events': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
          case 'access denied': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
        }
      })
    },
    testArray(){
      return [
        {
          name: 'a',
        },
        {
          name: 'b',
        },
      ]
    },
    isBusy(){
      const room = this.$store.state.roomsEvents.find()
      room.items.filter(item=>
        !item.attendees || item.attendees.find(attendee=>attendee.email===calendarId).responseStatus !== "declined"
      )
      //と、item.organizer.email が自分のもの
    },
  }
}
</script>

<style>
.data th {
  padding : 0 0;
  text-align : center;
  border-bottom: 1px #efefef solid;
}

.data td.room {
  min-width: 5rem;
  text-align : left;
  border-bottom : 1px #efefef solid;
}

.data td {
  padding : 0 0;
  text-align : center;
}

.checked {
  background-color: #eeffff;
  color: #3884ff;
}

.occupied {
  background-color: lightgray;
  color: dimgray;
}

.dashed {
  background-color: #ffdada;
  color: red;
}

.data td.cell {
  min-width: 2rem;
  max-width: 2rem;
}

.data td.cell {
  min-width: 2rem;
  max-width: 2rem;
  border-bottom : 1px #efefef solid;
}

.data td.nodata {
  border-left: 1px #222222 solid;
  min-width: 2rem;
  max-width: 2rem;
}

.data td.cell:nth-child(odd){
  border-left: 1px #afafbf solid;
  border-right: 1px #efefef dashed;
}

.data td.cell:nth-child(3) {
  border-left: 1px #222222 solid;
}

.data td.cell.data:nth-child(21) {
  border-left: 1px #222222 solid;
  border-right: 0px;
}
</style>
