<template id="room-list">
  <v-container>
    <v-card>
      <v-card-title>
        空き会議室一覧
      </v-card-title>
      <v-container>
      <v-simple-table
        dense
        fixed-header
        class = "data"
      >
        <thead>
          <tr>
            <th>時間</th>
            <template v-for="time of times">
              <th colspan="2" style="text-align: center">{{time}}</th>
            </template>
          </tr>
        </thead>
        <tbody>

          <template
            v-for="room of roomsStatus"
          >
            <tr>
              <td class="room">{{room.name}}{{room.caledarId}}</td>
              <td class="cell"></td>
              <template v-for="(period,j) in periods">
                <room-list-cell
                  v-bind:key="period"
                  v-bind:response="room.response"
                  v-bind:cells="room.cells[j]"
                  @on-click="onClick(room,j)"
                  >
                </room-list-cell>
              </template>
              <td class="cell"></td>
            </tr>
          </template>

        </tbody>
      </v-simple-table>
      <v-dialog
        v-model="createModal"
        max-width="400px"
      >
    <room-list-create
      :name="createProps.name"
      :start-time="createProps.startTime"
      :end-time-array="createProps.endTimeArray"
      :initial-summary="''"
      @create="confirm($event)"
      @cancel="createModal=false"
    ></room-list-create>
    </v-dialog>
  </v-container>
</template>


<script>
const RoomList = {
  template: '#room-list',
  components: {
    RoomListCell: RoomListCell,
    RoomListCreate: RoomListCreate,
  },
  data(){
    return {
      times: [9,10,11,12,13,14,15,16,17,18,19],
      createModal: false,
      createProps: {
        calendarId: '',
        name: '',
        startTime: null,
        endTimeArray: [],
        summary: ''
      },
    }
  },
  methods: {
    ...Vuex.mapActions([
      'createEvent',
    ]),
    statusText(response, cell){
      switch(response){
        case 'has events': {
          if(cell.accepted.length > 0 ){
            return '✔︎'
          } else if (cell.declined.length > 0) {
            return '✖︎'
          } else if (cell.busy.length > 0) {
            return '-'
          } else {
            return '○'
          }
        }
        case 'has no events': {
          return '○'
        }
        case 'access denied': {
          return '-'
        }
        default: {
          return response
        }
      }
    },
    onClick(room,j){
      const startTime = this.periods[j].from
      const endTimeArray = []
      for(let i=j; i<this.periods.length; i++){
        if(this.statusText(room.response,room.cells[i])==='○'){
          endTimeArray.push(this.periods[i].to)
        } else {
          break
        }
      }
      if(endTimeArray.length===0)return
      this.createProps.calendarId = room.calendarId
      this.createProps.name = room.name
      this.createProps.startTime= startTime
      this.createProps.endTimeArray = endTimeArray
      this.createProps.summary = ''
      this.createModal = true
    },

    confirm({endTime,summary}){
      this.createModal=false
      const payload = {
        calendarId: this.user.email,
        startTime: this.createProps.startTime,
        endTime: endTime,
        summary: summary,
        attendees: [{
          email: this.createProps.calendarId,
        }]
      }
      this.createEvent(payload)
    },
  },
  computed: {
    ...Vuex.mapGetters([
      'validRooms',
      'roomsStatus',
      'periods',
    ]),
    ...Vuex.mapState([
      'user',
    ]),
    tableRoomsStatus(){
      return this.roomsStatus.map(roomStatus=>{
        switch(roomStatus.response){
          case 'has events': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
          case 'has no events': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
          case 'access denied': {
            return {
              calendarId: roomStatus.calendarId,
              name: roomStatus.name,
            }
          }
        }
      })
    },
    testArray(){
      return [
        {
          name: 'a',
        },
        {
          name: 'b',
        },
      ]
    },
    isBusy(){
      const room = this.$store.state.roomsEvents.find()
      room.items.filter(item=>
        !item.attendees || item.attendees.find(attendee=>attendee.email===calendarId).responseStatus !== "declined"
      )
      //と、item.organizer.email が自分のもの
    },
  }
}
</script>

<style>
.data th {
  padding : 0 0;
  text-align : center;
  border-bottom: 1px #bbbbbb solid;
}

.data td.room {
  min-width: 5rem;
  text-align : left;
  border-bottom : 1px #bbbbbb solid;
}

.data td {
  padding : 0 0;
  text-align : center;
  border-bottom : 1px #bbbbbb solid;
}

.checked {
  background-color: #eeffff;
  color: #3884ff;
}

.occupied {
  background-color: lightgray;
  color: dimgray;
}

.dashed {
  background-color: #ffdada;
  color: red;
}

.data td.cell {
  min-width: 2rem;
  max-width: 2rem;
}

.data td.cell:nth-child(odd){
  border-left: 1px #dfdfdf solid;
  border-right: 1px #efefef dashed;
}

.data td.cell:nth-child(3) {
  border-left: 1px #222222 solid;
}

.data td.cell.data:nth-child(23) {
  border-left: 1px #222222 solid;
  border-right: 0px;
}
</style>
